.dino__catheter_r, .dino__catheter_l, .dino__bandage_r, .dino__bandage_l {
  position: absolute;
}

.dino__catheter_r, .dino__catheter_l {
  height: 12.5vmin;
  width: 12.5vmin;
}

.dino__catheter_l {
  top: 59vmin;
  transform: rotate3d(0,0,1,180deg);
  left: 66vmin;
}

.dino__catheter_r {
  top: 66vmin;
  left: 37vmin;
}

.dino__bandage_r, .dino__bandage_l {
  height: 4vmin;
  width: 4vmin;
}

.dino__bandage_l {
  top: 64.5vmin;
  left: 65vmin;
}

.dino__bandage_r {
  top: 69vmin;
  left: 46vmin;
}

